{% extends 'base.html'%}
{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}


<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for movie in object_list %}
    <div class="col">
        <div class="card h-100">
            <img src="{{movie.image}}" class="card-img-top" alt="{{movie.title}}">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{% url 'movie' movie.slug %}">
                        {{movie.title}}
                    </a>
                    <small class="text-muted">({{movie.release_date |date:"Y"}})</small>
                </h4>
            </div>
            <div class="card-footer">
                <a href="{% url 'genre' movie.genre.slug %}" class="badge bg-primary">{{movie.genre.name}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                {{ page_obj.previous_page_number }}
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">First</span>
        </li>

        {% endif %}

        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page_obj.number }}</span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                {{ page_obj.next_page_number }}
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Last</span>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}